:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-image: url('./images/pattern-bg-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0rem;
  text-align: center;
  flex: 0 0 auto; 
}

header h1 {
  color: #fff;
}

.action {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

input {
  border: 1px solid var(--Dark-Gray);
  padding: 0.5rem;
  border-radius: 5px 0 0 5px;
  width: 40%;
}

.submitBtn {
  background-color: var(--Very-Dark-Gray);
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.ipInfo {
  width: 80%;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  background: #fff;
   flex: 0 0 auto;
   transform: translateY(-32px);
   z-index: 9999;
}

.ipInfo > div {
  text-align: center;
  flex: 1;
  
}

.ipInfo > div:not(:last-child){
  border-right: 1px solid var(--Dark-Gray);
}
.ipInfo .label {
  color: var(--Dark-Gray);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.mapContainer{
   flex: 1 1 auto; /* Map takes all remaining space */
   /* height: 100%; */
  }
  #map {
  /* padding: 2rem 0; */
  height: 100%; /* Dynamically adjusts to its parent's height */
  /* transform: translateY(-100px); */
}


/* Media Queries */
@media (max-width: 768px) {
  header{
    padding: 2rem 2rem 8rem 2rem;
   }
  .ipInfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-80px);
  }
  input {
    border: 1px solid var(--Dark-Gray);
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
    width: 100%;
  }
  
  .ipInfo > div {
    border-right: none;
    padding: 0rem 0;
  }
  .ipInfo .label {
  color: var(--Dark-Gray);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

}

